.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .formControl {
    margin: 20px;
    .input {
      padding: 10px;
      margin-right: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      width: 250px;
    
      &:focus {
        outline: none;
        border-color: blue;
      }
      
    }
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 20px;
    width: 300px;
  
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      background-color: #e4e1e1;
      width: 100%;
  
      button {
        border-radius: 5px;
        border: none;
        background-color:#dc3545;
        color: white;
        padding: 5px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }


}




